<!-- <label>{{label}}</label>
<br>
<button (click)="toggleDarkMode()">Toggle</button> -->

<!-- Computed Signal -->
<!-- <label>{{totalPrice()}}</label>
<br>
<input type="number" value="{{quantity()}}" (change)="changeQty($event)"> -->

<!-- USE CASE -->
<!-- <div>
  <input type="text" (input)="changeFilter($event)">
</div>
<br>
<table>
  <tr *ngFor="let product of filteredProducts()">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
  </tr>
</table> -->

<!-- INPUT EXAMPLE -->
<h1>Product</h1>
<app-product-list [products]="allProducts"></app-product-list>